<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Passwort Ändern</title>
</head>


<body class="login-page">


<form class="login-box" action="@{/changePassword/{userId}(userId=${user.id})}" method="post">
    <img src="css/images/logo.png" class="logo">

    <h1>Passwort ändern</h1>

    <div class="form-group">
        <label>Altes Passwort:</label>
        <input type="text" name="oldPassword" required>
    </div>

    <div class="form-group">
        <label>Neues Passwort:</label>
        <input type="password" name="newPassword" required>
    </div>

    <div class="form-group">
        <label>Neues Passwort:</label>
        <input type="password" name="newPasswordCheck" required>
    </div>

    <button type="submit">Ändern</button>
</form>

</body>
</html>