<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bibliothek</title>
</head>


<body>

<h1>Bibliothek</h1>

<h2>Bücher</h2>

<table border="1">
    <tr>
        <th>ISBN</th>
        <th>Titel</th>
        <th>Autor</th>
        <th>Status</th>
        <th>Besitzer</th>
        <th>!!Löschen!!</th>
        <th>Ausleihen</th>

    </tr>


    <tr th:each="book : ${books}">
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.titel}"></td>
        <td th:text="${book.autor}"></td>
        <td th:text="${book.status}"></td>
        <td th:text="${book.besitzer}"></td>

        <td>
            <form th:action="@{/delete/{isbn}(isbn=${book.isbn})}" method="post">
                <button type="submit">Löschen</button>
            </form>
        </td>

        <td>
            <a th:href="@{/borrow/{isbn}(isbn=${book.isbn})}">Ausleihen</a>
        </td>
    </tr>
</table>



<h2>Benutzer</h2>
<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Ausgeliehene Bücher</th>
        <th>!!Löschen!!</th>
        <th>Rückgabe</th>
    </tr>


    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.borrowedBooks}"></td>

        <td>
            <form th:action="@{/deleteUser/{userId}(userId=${user.id})}" method="post">
                <button type="submit">Löschen</button>
            </form>
        </td>

        <td>
            <a th:href="@{/return/{userId}(userId=${user.id})}">Rückgabe</a>
        </td>

    </tr>
</table>



<h2>Neues Buch</h2>
    <form action="/add" method="post">
        ISBN:
        <input type="number" name="isbn" min="0" required>
        <br><br>

        Titel:
        <input type="text" name="titel" required>
        <br><br>

        Autor:
        <input type="text" name="autor" required>
        <br><br>

        <button type="submit">
            Buch hinzufügen
        </button>
        <br><br>
    </form>



<h2>Neuer Benutzer</h2>
    <form action="/addUser" method="post">

        Name:
        <input type="text" name="name" required>

        <button type="submit">Benutzer hinzufügen</button>
    </form>



<h2>Buch suchen</h2>
    <form action="/search" method="post">
        ISBN:
        <input type="number" name="isbn" required>

        <button type="submit">Suchen</button>
    </form>

<div th:if="${searchResult}">
    <h3>Suchergebnis:</h3>

    <table border="1">
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Autor</th>
            <th>Status</th>
            <th>Besitzer</th>
        </tr>

        <tr>
            <td th:text="${searchResult.isbn}"></td>
            <td th:text="${searchResult.titel}"></td>
            <td th:text="${searchResult.autor}"></td>
            <td th:text="${searchResult.status}"></td>
            <td th:text="${searchResult.besitzer}"></td>
        </tr>
    </table>
</div>

</body>
</html>