<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>


<body class="login-page">


<form class="login-box" action="/login" method="post">
    <img src="css/images/logo.png" class="logo">

    <h1>Bibliothek Login</h1>

    <div class="form-group">
        <label>Benutzername:</label>
        <input type="text" name="username">
    </div>

    <div class="form-group">
        <label>Passwort:</label>
        <input type="password" name="password">
    </div>

    <button type="submit">Anmelden</button>
</form>

</body>
</html>