<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Buch hinzufügen</title>
</head>

<body>

<h1>Neues Buch</h1>

<form action="/books/add" method="post">
    ISBN:
    <input type="number" name="isbn" min="0" required>
    <br><br>

    Titel:
    <input type="text" name="titel" required>
    <br><br>

    Autor:
    <input type="text" name="autor" required>
    <br><br>

    <button type="submit">
        Buch hinzufügen
    </button>
</form>


<p th:if="${error}"
   th:text="${error}"
   style="color:red;">
</p>

</body>
</html>